<link href="https://fonts.googleapis.com/css2?family=Fahkwang&display=swap" rel="stylesheet">
<ion-toolbar style="--background:#000000; box-shadow: 1px 1px 1px #646464; padding-left: 20px; padding-right: 50px; padding-bottom: 0px;">

  <ion-buttons slot="primary">
    <ion-icon name="person-circle-outline" (click)="createProfilePopover($event)" style="font-size: 35px; padding-left: 10px; color: white;"></ion-icon>
  </ion-buttons>

  <ion-grid>
    <ion-row>
      <ion-col size="2" style="padding-top: 0px;">
        <ion-text style="color: #ffffff; font-family: 'sans-serif'; font-size: 25px;  color: #3a7be0" routerLink="/home-page">D<ion-text style="font-size: 17px;font-weight: bold;color: white">iabetic</ion-text> R<ion-text style="font-size: 20px;font-weight: bold; color: white">etinopathy</ion-text> D<ion-text style="font-size: 20px;font-weight: bold; color: white">etector</ion-text></ion-text>
      </ion-col>
      <ion-col size="6" style="padding: 10px 0px 2px 350px;">
        <img src="../../assets/images/Picture2.png" style="height: 100px; width: 100px;" routerLink="/home-page">
      </ion-col >
    </ion-row>
  </ion-grid>
</ion-toolbar>
