<ion-content style="background-color: #808080">
  <app-header></app-header>

  <ion-grid style="padding-bottom: 20px; padding-top: 0px; filter: drop-shadow(1px 1px 1px #4E84AB);">
    <ion-row style="background-color: #4E84AB; height: 12px;" class="ion-justify-content-center">
      <!--        <ion-text></ion-text>-->
    </ion-row>
  </ion-grid>

  <link href="https://fonts.googleapis.com/css2?family=Stoke&display=swap" rel="stylesheet">

  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding" style="padding-top: 30px; padding-bottom: 40px;">
        <ion-card-title class="ion-text-center" style="color: #4E84AB">
          <h2>
            <ion-text class="or">TAKE THE TEST</ion-text>
          </h2>
        </ion-card-title>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="padding-bottom: 20px;">
    <ion-row class="ion-justify-content-evenly">

      <ion-col size="2.5">

        <ion-card class="card">
          <ion-grid style="padding-top: 20px">
            <ion-row class="ion-justify-content-center">
              <img src="assets/images/upload.jpg" style="height: 280px; width: 280px;">

            </ion-row>
            <ion-row style="padding-top: 12px;" class="ion-justify-content-center">
              <ion-text style="font-weight: 600;">Upload your image here</ion-text>

            </ion-row>


          </ion-grid>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding" style="padding: 15px 570px 35px 570px">
        <ion-button class="primButton" type="submit">Predict Results</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>

  <app-footer></app-footer>

</ion-content>

