ion-content {
  --background: url(../../assets/images/dr2.jpg) 0 0/100% 100% no-repeat !important;
  background-color: #fff;
}

.inputs {
  color: rgba(0, 0, 0, 0.6);
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  padding: 0px 30px 0px 30px;
}

.primButton {
  color: #ffffff;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 20;
  width: 100%;
  --background: #4E84AB;
  --border-radius: 10px;
  --box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  padding-right: 30px;
  padding-left: 30px;
}

.secButton {
  color: #4E84AB;
  --border-color: #4E84AB;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 20;
  margin: auto;
  width: 100%;
  --border-width: 0.2px;
  --background: #fff;
  --border-radius: 10px;
  --box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  padding-right: 40px;
  padding-left: 40px;
}

.inputs2 {
  border-radius: 15px;
  text-align: left;
  background-color:#DDE4ED;
  width: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.content {
  color: #eb2963;
  text-align: center;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.options1 {
  display: inline;
  color: #4a2a34;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  float: left;
  font-size: 28px;
  text-shadow: 2px 2px 2px rgba(74, 42, 52, 0.5);
  padding-left: 50px;
  cursor: pointer;
}

.options2 {
  display: inline;
  color: rgba(74, 42, 52, 0.56);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  float: right;
  font-size: 28px;
  text-shadow: 2px 2px 2px rgba(74, 42, 52, 0.5);
  padding-right: 50px;
  cursor: pointer;
}

.card {
  border-radius: 35px;
  background-color: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  width: 60%;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  line-height: 0.1em;
  margin: auto;
}

h2 .or {
  background: #ffffff;
  padding: 0 5px;
}

.warning{
  padding-left: 40px;
  color: rgb(248, 50, 50);
}
